:root {
	color-scheme: dark light;
	--background-primary: #222222;
	--foreground-primary: #dddddd;
	--blue: #2222ff;
	--red: #ff2222;
	--yellow: #aaaa00;
}

@media (prefers-color-scheme: light) {
	:root {
		--background-primary: #ddd;
		--foreground-primary: #222;
		--blue: #aaaaff;
		--red: #ffaaaa;
		--yellow: #ffffaa;
	}
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: var(--background-primary);
	color: var(--foreground-primary);
	min-width: 20rem;
}

img {
	width: 240px;
	aspect-ratio: 16 / 12;
}

section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1em;
	margin-bottom: 1em;
	
	article {
		display:flex;
		flex-direction:column;
		background-color: var(--blue);
		gap: 1em;
		padding: 1em;
		
		p {
			padding: 1em 0;
			margin: 0;
			background-color: var(--red);
		}
		
		p+p {
			padding: 0.5em 0;
			margin: 0;
			background-color: var(--yellow);
		}
		
		input {
			text-align: center;
		}
	}
}

table {
	text-align: left;
	th, td {
		padding: 0.5em 1em;
		text-wrap: nowrap;
	}
}