:root {
	color-scheme: dark light;
	--background-primary: #222222;
	--foreground-primary: #dddddd;
	--red: #ff0000;
}

@media (prefers-color-scheme: light) {
	:root {
		--background-primary: #ddd;
		--foreground-primary: #222;
		--red: #ffaaaa;
	}
}

body {
	background-color: var(--background-primary);
	color: var(--foreground-primary);
	text-align: center;
}

fieldset {
	padding: 1em;
	
	legend {
		background-color: var(--red);
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}
	
	label {
		input {
			margin-bottom: 2em;
		}
	}
}

img {
	width: 480px;
	height: auto;
}